<nav class="navbar">
  <h1 class="logo">kimiko ando</h1>
  <ul class= "desktop-list">
    <li><%= link_to "Home", "navigation-button-link" %></li>
    <li><%= link_to "About", "navigation-button-link" %></li>
    <li><%= link_to "Projects", "navigation-button-link" %></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <ul>
    <ul class="mobile">
      <li><i class="fa-solid fa-house"></i></li>
      <li><i class="fa-regular fa-user"></i></li>
      <li><i class="fa-solid fa-list"></i></i></li>
    <li><i class="fa-solid fa-address-book"></i></li>
  </ul>
</ul>
</nav>
<section id="profile">
  <div class="section-pic-container">
    <%= image_tag 'propic4.jpg', alt: "profile photo", class: 'section-pic-container' %>
  </div>
  <div class="section-text">
    <p class="section-text1">Hello, I'm</p>
    <h1 class="title">Kimi</h1>
    <p class="section-text2">Full Stack Developer</p>
    <div id="contact">
      <div class="main-social-container">
        <div class="button-social social-container">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "kimiko.ando13@icloud.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social social-container">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/kimiando", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social social-container">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/kimiko-ando-9536b9189/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</section>
