<nav class="navbar">
  <h1 class="logo">
    <%= link_to "kimiko ando", "index.html" %>
  </h1>
  <ul class= "desktop-list">
    <li><%= link_to "Home", "index.html" %></li>
    <li><a href="#about">About</a></li>
    <li><%= link_to "Projects", "myprojects.html" %></li>
    <li><%= link_to "Contact", "contact.html" %></li>
  </ul>
  <ul>
    <ul class="mobile">
      <li><% link_to "index.html" do %>
          <i class="fa-solid fa-house mobile-icon" style="color: white;"></i>
        <% end %>
      </li>
      <li><% link_to "myprojects.html" do %>
          <i class="fa-solid fa-diagram-project" style="color: white;"></i>
        <% end %>
      </li>
      <li><% link_to"contact.html" do %>
          <i class="fa-solid fa-address-book mobile-icon"style="color: white;"></i>
        <% end %>
      </ul>
    </ul>
  </nav>
  <section id="profile">
    <div class="section-pic-container">
      <%= image_tag 'propic4.jpg', alt: "profile photo", class: 'section-pic-container' %>
    </div>
    <div class="section-text">
      <div class="section-text-banner">
        <a href="#" class="typewrite" data-period="2000" data-type='[ "Hi, I am Kimi. ", "I am a Web Developer." ]'>
          <span class="wrap"></span>
        </a>
      </div>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-rails-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-heroku-original colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-figma-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-vuejs-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <div id="contact-profile">
        <div class="main-social-container">
          <div class="button-social social-container">
            <i class="fa-brands fa-github"></i>
            <%= link_to "", "https://github.com/kimiando", target: '_blank', class: 'button-social-link' %>
          </div>
        </div>
      </div>
    </div>
  </section>
