<nav class="navbar">
  <h1 class="logo-contact">kimiko ando</h1>
  <ul class= "desktop-list">
    <li><%= link_to "Home", "index.html" %></li>
    <li><%= link_to "About", "/#about.html" %></li>
    <li><%= link_to "Projects", "myproject.html" %></li>
    <li><%= link_to "Contact", "contact.html" %></li>
    <li>
      <div class="night-toggle-contact" onClick="switchMode()">
        <div id="moon" class="moon-contact"></div>
      </div>
    </li>
  </ul>
  <section id="projects">
    <h1>my projects</h1>
    <div class="wrapper">
      <% data.projects.each do |project| %>
        <a href="#" class="card">
          <%= image_tag project.image, alt: "project image" %>
          <div class="card-box">
            <h2 class="card-title"><%= project.name %></h2>
            <p><%= project.role %></p>
            <p class="card-description"><%= project.description %></p>
          </div>
        </a>
      <% end %>
    </div>
    <section>
